[access]
	inheritFrom = Public-Plugins
[project]
	description = The manifest plugin provides server side utilities to\noperate on, and query information about repo manifests (xml)\nstored in git projects on the current server.  This plugin\nprovides APIs to update values in manifests, and to search\nfor manifests with certain values.
[access "refs/*"]
	owner = group Code Aurora Plugin Owners
