[access]
	inheritFrom = Public-Plugins
[project]
	description = The manifest plugin provides server side utilities to\n\
operate on, and query information about repo manifests (xml)\n\
"stored in git projects on the current server.  This plugin"\n\
provides APIs to update values in manifests, and to search\n\
for manifests with certain values.
